.background-image {
    background-image: url(/images/rules-full.png?version=a22184ebac481c0e7497ce393fb265f0);
}

body {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 1px 1px 1px #c5c5c5, 0 0 7px #dddddd;
}

input[type=submit] {
    font-size: inherit;
}

.vertical-centered-wrapper {
    position: absolute;
    width: 98%;
    height: 98%;
    display: table;
}

.vertical-centered {
    display: table-cell;
    vertical-align: middle;
}

.horizontal-centered-wrapper {
    text-align: center;
}

.horizontal-centered {
    display: inline-block;
    text-align: left;
}

.content {
    padding: 1em;
}

h1 {
    font-style: italic;
    text-shadow: 2px 2px 2px #c5c5c5;
}

.manifest a {
    color: black;
}

.manifest.trial {
    font-size: 15px;
}

.manifest.owning {
    font-size: 15px;
}

input[type=submit], label {
    cursor: pointer;
}

label:hover {
    text-shadow: 1px 1px 3px #424242;
}

label:hover input[type=submit] {
    text-shadow: 1px 1px 3px #424242;
}

.upper-index {
    position: relative;
    top: -0.5em;
    font-size: 80%;
}

.footer {
    font-size: 15px;
    margin-top: 2em;
    font-style: italic;
}