a, a.external-url:visited {
    color: #0a1c27;
}

a, a.on-hover {
    text-decoration: none;
    color: #141414;
    border-bottom: dotted 1px #9d9d9d;
    display: inline-block;
    /* moving dots up to be tight to text */
    height: 1em;
    margin-bottom: 0.1em
}

a:hover {
    border-bottom: solid 1px #9d9d9d;
}

a.external-url, a.on-hover:hover {
    color: #0f293a;
    text-decoration: underline;
    border-bottom: none;
}
