.contacts {
    text-align: right;
    font-size: 16px;
}

.contacts a.external-url {
    text-decoration: none;
}

.contacts:hover {
    background-color: rgba(32, 30, 28, 0.47);
}

.contacts.visible {
    background-color: rgba(32, 30, 28, 0.47);
}

.contact {
    margin-right: 1em;
    padding: 3px;
    color: rgba(255, 255, 255, 0);
}

.contact a {
    color: transparent;
    border-bottom: none;
    line-height: initial;
    height: initial;
    display: inline;
}

.contact a.external-url {
    color: transparent;
    border-bottom: none;
}

.contacts:hover .contact {
    color: whitesmoke;
    text-shadow: 0 1px 1px #c5c5c5, 2px 2px 7px #dddddd;
}

.contacts.visible .contact {
    color: whitesmoke;
    text-shadow: 0 1px 1px #c5c5c5, 2px 2px 7px #dddddd;
}

.contacts:hover .contact a {
    color: whitesmoke;
}

.contacts.visible .contact a {
    color: whitesmoke;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.contacts-placeholder {
    display: block;
    height: 0.5em; /* to match bottom of static contacts even if placeholder is moved by Bootstrap */
}