body {
    background-image: url(/images/graphics/background.png);
    background-repeat: repeat-y;
    background-size: 100%;
    background-color: #FFEDD5;
    color: #011126;
}

body:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(/images/rules-monochromatic.png);
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-size: cover;
    width: 101%;
    height: 101%;
    opacity: 0.15;
    z-index: -1;
}
